<section class="container max-w-4xl bg-white shadow-lg rounded px-5 my-5 pb-5">
    <div class="py-5">
        <h4 class="text-2xl fw-bold mb-2 text-center">Customize Your Question Paper Heading</h4>
        <p class="text-2xl  mb-4 text-grey text-center">(You can only add upto 5 headings)</p>
    </div>

    <div class="row" *ngFor="let heading of headings; index as i">
        <div class="col-12 row">
            <div *ngIf="i>0 || headings.length>1" (click)="deleteHeading(i)" class="col-lg-12 text-end text-danger h-20 bg-transparent mx-2 px-2 cursor-pointer">
                <u>Delete</u>
            </div>
            <div class="col-12 col-md-10">
                <h5 class="text-2xl mt-3">Heading {{i+1}}</h5>
                <input type="text" [(ngModel)]="heading.title" class="form-control" [placeholder]="'Enter heading ' + (i+1)" required>
            </div>
            <div class="col-6 col-md-3 mt-3">
                <h5 class="text-2xl mt-3">Heading {{i+1}} Font Size</h5>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="heading.fontSize" placeholder="Select Font Size">
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                </select>
            </div>
            <div class="col-6 col-md-3 mt-3">
                <h5 class="text-2xl mt-3">Heading {{i+1}} Alignment</h5>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="heading.align" placeholder="Select Alignment">
                    <option value="left">Left</option>
                    <option value="center">Center</option>
                    <option value="right">Right</option>
                </select>
            </div>
        </div>
        <hr class="mt-5 mb-3" *ngIf="i<headings.length-1">
    </div>
    <div *ngIf="headings.length<5" class="col-lg-12 text-danger text-end fw-bold bg-transparent p-0">
        <u (click)="addHeading()" class="cursor-pointer">+ Add</u> 
    </div>

    <div class="text-end mt-5">
        <button type="button" class="btn btn-primary btn-lg" (click)="routeToPdf()">Create</button>
    </div>
</section>