<section class="container max-w-4xl bg-white shadow-lg rounded my-5 pb-5">
    <div>
        <button type="button" class="btn btn-secondary my-3 mx-4 rounded-pill" [routerLink]="['/start']">
            <i class="bi bi-arrow-left-circle-fill"></i>
        </button>
    </div>
    <div [ngClass]="headings.length>1 ? '' : 'pb-3'">
        <h4 class="text-2xl fw-bold mb-2 text-center">Customize Your Question Paper Heading</h4>
        <p class="text-2xl  mb-4 text-grey text-center">(You can only add upto 5 headings)</p>
    </div>

    <div class="text-end mb-3">
        <span *ngIf="headings.length>1" role="button" class=" fw-semibold ms-4 pe-4 text-primary-emphasis text-end link-underline-danger icon-link icon-link-hover link-success mx-2 px-2"  data-bs-toggle="modal" data-bs-target="#setOrderModal">
            <i class="bi bi-arrow-down-up mb-2"></i> <u>Set Order</u>
        </span>
    </div>

    <div class="row px-3 mx-3" *ngFor="let heading of headings; index as i">
        <div class="col-12 row">
            <div *ngIf="i>0 || headings.length>1" class="text-end text-danger h-20 bg-transparent mx-3 px-0 cursor-pointer">
                <span role="button" class="text-danger link-underline-danger icon-link icon-link-hover link-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="toBeDeleted = i" >
                    <i class="bi bi-trash mb-2 ps-1"></i> Delete
                </span>
            </div>
            <div class="col-12 col-md-10">
                <h5 class="text-2xl mt-3">Heading {{i+1}}</h5>
                <input type="text" [(ngModel)]="heading.title" class="form-control" [placeholder]="'Enter heading ' + (i+1)" required>
            </div>
            <div class="col-6 col-md-3 mt-3">
                <h5 class="text-2xl mt-3">Heading {{i+1}} Font Size</h5>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="heading.fontSize" placeholder="Select Font Size">
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                    <option value="22">22</option>
                    <option value="24">24</option>
                </select>
            </div>
            <div class="col-6 col-md-3 mt-3">
                <h5 class="text-2xl mt-3">Heading {{i+1}} Alignment</h5>
                <select class="form-select" aria-label="Default select example" [(ngModel)]="heading.align" placeholder="Select Alignment">
                    <option value="left">Left</option>
                    <option value="center">Center</option>
                    <option value="right">Right</option>
                </select>
            </div>
        </div>
        <hr class="mt-5 mb-3" *ngIf="i<headings.length-1">
    </div>
    <div *ngIf="headings.length<5" class="text-danger text-end fw-bold bg-transparent mt-2 px-4 mx-3">
        <u (click)="addHeading()" role="button" class="text-danger link-underline-danger icon-link icon-link-hover link-success">
            <i class="bi bi-plus-lg mb-2 ps-1"></i> Add
        </u> 
    </div>

    <div class="text-end mt-5 px-3 mx-3">
        <button type="button" class="btn btn-primary btn-lg" (click)="routeToPdf()">
            Create
            <span *ngIf="createLoader" class="spinner-border spinner-border-sm text-light" role="status"></span>
        </button>
    </div>
</section>

<!-- Delete heading modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-light">
        <h5 class="modal-title">Delete Heading {{toBeDeleted+1}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
            <i class="bi bi-trash fs-1 text-danger fw-bold"></i>
            <h5 class="">Are You Sure You Want To Delete Heading {{toBeDeleted + 1}}?</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="toBeDeleted=undefined">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteHeading(toBeDeleted)" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Headings Set Order Modal -->

<div class="modal fade" id="setOrderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-light">
        <h5 class="modal-title">Set Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="mb-3 ms-2">Drag and Drop Headings To Change Order</h6>
        <div class="container">
            <div cdkDropList (cdkDropListDropped)="globalService.drop($event, headings)" class="list-group">
                <div role="button" class="list-group-item my-1 border border-dark-subtle rounded" *ngFor="let heading of headings; index as i" cdkDrag>
                    Headings {{i+1}}: {{heading.title}}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>