<section class="container max-w-4xl bg-white shadow-lg rounded my-5 pb-5 pt-5">
    <!-- <div>
        <button type="button" class="btn btn-secondary mx-4 rounded-pill" [routerLink]="['/']">
            <i class="bi bi-arrow-left-circle-fill"></i>
        </button>
    </div> -->
    <div [ngClass]="questions.controls.length>1 ? '' : 'pb-3'">
        <h4 class="text-2xl fw-bold mb-4 text-center">Write Question and Select type of Question</h4>
    </div>

    <div class="text-end">
        <span *ngIf="questions.controls.length>1" role="button" class=" fw-semibold ms-4 pe-4 text-primary-emphasis text-end link-underline-danger icon-link icon-link-hover link-success"  data-bs-toggle="modal" data-bs-target="#setOrderModal">
            <i class="bi bi-arrow-down-up mb-1"></i> <u>Set Order</u>
        </span>
    </div>


    <form [formGroup]="questionForm" class="px-3 mx-3">

        <div formArrayName="questions" *ngFor="let question of questions.controls; let i = index" class="mt-3">
            <ng-container [formGroupName]="i">
                <div *ngIf="i>0 || questions.controls.length>1" class="col-lg-12 text-end text-danger h-20 bg-transparent mx-2 px-2 cursor-pointer">
                    <span role="button" class="text-danger link-underline-danger icon-link icon-link-hover link-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="toBeDeleted = i" >
                        <i class="bi bi-trash mb-2 ps-1"></i> Delete
                    </span>
                </div>

                <h6 class="text-2xl">Question {{i+1}}</h6>
                <div class="ms-2">
                    <textarea class="form-control" formControlName="question" placeholder="Write Question here" [rows]="1" id="floatingTextarea" #question></textarea>
                    <span *ngIf="f[i].get('question')?.errors?.['required'] && (f[i].get('question')?.touched || f[i].get('question')?.dirty)" class="text-danger">
                        Question {{i+1}} is required.
                    </span>
                </div>
                <h6 class="text-2xl mt-3">Select Type of Answer</h6>
                <div class="">
                    <span class="custom-control custom-radio mt-2 mt-lg-0">
					    <input type="radio" formControlName="type" class="btn-check" value="input" id="input" ngModel (click)="addLineInput(i)">
                        <label style="margin-left: 8px;" class="mt-2 col-12 col-sm-5 col-lg-2 form-check-label custom-control-label btn btn-outline-success" for="input">Written</label>
                    </span>

                    <span class="custom-control custom-radio mt-2 mt-lg-0">
                        <input type="radio" formControlName="type" class="btn-check" value="multiple" id="multiple" ngModel (click)="addNumberOfOption(i)">
                        <label style="margin-left: 8px;" class="mt-2 col-12 col-sm-5 col-lg-2 form-check-label custom-control-label btn btn-outline-success" for="multiple">Multiple Choice</label>
                    </span>

                    <span class="custom-control custom-radio mt-2 mt-lg-0">
                        <input type="radio" formControlName="type" class="btn-check" value="binary" id="binary" ngModel (click)="selectOther(i)">
                        <label style="margin-left: 8px;" class="mt-2 col-12 col-sm-5 col-lg-2 form-check-label custom-control-label btn btn-outline-success" for="binary">True/False</label>
                    </span>

                    <span class="custom-control custom-radio mt-2 mt-lg-0">
                        <input type="radio" formControlName="type" class="btn-check" value="no_answer"  id="no_answer" ngModel (click)="selectOther(i)">
                        <label style="margin-left: 8px;" class="mt-2 col-12 col-sm-5 col-lg-2 form-check-label custom-control-label btn btn-outline-success" for="no_answer">No Answer</label>
                    </span>
                    <div *ngIf="f[i].get('type')?.errors?.['required'] && (f[i].get('type')?.touched || f[i].get('type')?.dirty)" class="text-danger ms-2">
                        Answer Type is required.
                    </div>

                    <div class="mt-3 ms-2 col-12 col-md-6 col-lg-4" *ngIf="questions.controls[i].value.type=='input'">
                        <input type="number" formControlName="numberOfLine" class="form-control" placeholder="Enter number of lines" >
                        <span *ngIf="f[i].get('numberOfLine')?.errors?.['required'] && (f[i].get('numberOfLine')?.touched || f[i].get('numberOfLine')?.dirty)" class="text-danger">
                            Number of Lines is required.
                        </span>
                        <span *ngIf="f[i].get('numberOfLine')?.errors?.['min'] && (f[i].get('numberOfLine')?.touched || f[i].get('numberOfLine')?.dirty)" class="text-danger">
                            Minimum Lines should not be less than 2.
                        </span>
                        <span *ngIf="f[i].get('numberOfLine')?.errors?.['max'] && (f[i].get('numberOfLine')?.touched || f[i].get('numberOfLine')?.dirty)" class="text-danger">
                            Maximum Lines should not be more than 10.
                        </span>
                    </div>

                    <div class="mt-3 ms-2 col-12 col-md-6 col-lg-4" *ngIf="questions.controls[i].value.type=='multiple'" max (keyup)="addOptionFields($event, i)">
                        <input type="number" formControlName="numberOfOption" class="form-control" placeholder="Enter number of options">
                        <span *ngIf="f[i].get('numberOfOption')?.errors?.['required'] && (f[i].get('numberOfOption')?.touched || f[i].get('numberOfOption')?.dirty)" class="text-danger">
                            Number of Options is required.
                        </span>
                        <span *ngIf="f[i].get('numberOfOption')?.errors?.['min'] && (f[i].get('numberOfOption')?.touched || f[i].get('numberOfOption')?.dirty)" class="text-danger">
                            Minimum Options should not be less than 2.
                        </span>
                        <span *ngIf="f[i].get('numberOfOption')?.errors?.['max'] && (f[i].get('numberOfOption')?.touched || f[i].get('numberOfOption')?.dirty)" class="text-danger">
                            Maximum Options should not be more than 10.
                        </span>
                    </div>
                </div>

                <div class="row my-3">
                    <div *ngFor="let option of getOptionArray(numberOfOptions[i]); index as j" class="col-12 col-md-5 com-lg-4">
                        <h6 class="text-2xl mt-3">Option {{j+1}}</h6>
                        <div class="ms-2">
                            <input type="text" [formControlName]="'option' + (j+1)" class="form-control" [placeholder]="'Enter option ' + (j+1)" [(ngModel)]="f[i].get('option' + (j+1)).value">
                            <span *ngIf="f[i].get('option' + (j+1))?.errors?.['required'] && (f[i].get('option' + (j+1))?.touched || f[i].get('option' + (j+1))?.dirty)" class="text-danger">
                                Option {{j+1}} is required.
                            </span>
                        </div>
                    </div>
                </div>
                <hr class="my-4" *ngIf="i<questions.controls.length-1">
            </ng-container>
        </div>

        <div class="col-lg-12 text-danger text-end fw-bold bg-transparent mt-3 p-0">
            <u (click)="addQuestion()" role="button" class="text-danger link-underline-danger icon-link icon-link-hover link-success">
                <i class="bi bi-plus-lg mb-2 ps-1"></i> Add
            </u> 
        </div>

        <!-- Submit Button -->
        <div class="col-12 justify-content-end text-end mt-5">
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="submit()">
                Submit Questions
                <span *ngIf="submitLoader" class="spinner-border spinner-border-sm text-light" role="status"></span>
            </button>
        </div>
    </form>
</section>


<!-- Delete question modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-light">
        <h5 class="modal-title">Delete Question {{toBeDeleted+1}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
            <i class="bi bi-trash fs-1 text-danger fw-bold"></i>
            <h5 class="">Are You Sure You Want To Delete Question {{toBeDeleted + 1}}?</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteQuestions(toBeDeleted)" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Questions Set Order Modal -->

<div class="modal fade" id="setOrderModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-secondary text-light">
        <h5 class="modal-title">Set Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="mb-3 ms-2">Drag and Drop Questions To Change Order</h6>
        <div class="container">
            <div cdkDropList (cdkDropListDropped)="drop($event)" class="list-group">
                <div role="button" class="list-group-item my-1 border border-dark-subtle rounded" *ngFor="let item of formArray; index as i" cdkDrag>
                    Question {{i+1}}: {{f[i].get('question').value}}
                </div>
            </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-danger" (click)="deleteQuestions(toBeDeleted)" data-bs-dismiss="modal">Delete</button>
      </div> -->
    </div>
  </div>
</div>