/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("../src/assets/Images/homepage_background.jpg");
    background-size: cover;
    background-repeat: round;
    background-color: #808080;
    height: 100vh;
}
